$primary-color: #0f3558;
$secondary-color: #fff6e4;
$tertiary-color: #e5e5e5;
$gray-color: #777;
$white-color: #fff;
$border-color: #ccc;

$font-size-base: 16px;
$font-size-large: 2rem;
$font-size-small: 1.1rem;
$font-size-h1: 3rem;
$font-size-h2: 2rem;

$padding-base: 16px;
$padding-large: 64px;
$margin-small: 8px;
$margin-medium: 32px;
$border-radius: 999px;